<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.graduation.freshmanwelcome.mapper.ParentsContactMapper">

    <update id="updateParentsContactByStudentId">
        update parents_contact set father_name=#{fatherName},father_phone=#{fatherPhone},
        mother_name=#{motherName},mother_phone=#{motherPhone},emergency_contact_name=#{emergencyContactName},
        emergency_contact_phone=#{emergencyContactPhone}
        where student_id=#{studentId};
    </update>
</mapper>
